---
file: './media/audio-file.m4a'
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <h1>Hello world</h1>
    duration: {{ file | duration | log }} <br>
    duration: {{ file | duration }} <br>
    filesize: {{ "./media/audio-file.m4a" | filesize }}
  </body>
</html>